@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit";
  /* width: 1440px; */
}

h1 {
  font-weight: 700;
  color: ;
}

p {
  font-size: 15px;
  font-weight: 400;
}

img {
  border-radius: 3px;
  width: 300px;
  height: 300px;
}

section {
  background-color: var(--slate500);
  max-width: 1440px;
  margin: 0 auto;
  border: 10px solid red;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--slate300);
  padding: 1rem;
  border-radius: 3%;
}

.qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/* 375px */
