@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);

  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

body {
  background-color: var(--grey900);
  color: var(--white);
  font-size: 1rem;
  font-family: "Inter";
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

p,
a {
  width: 100%;
  text-align: center;
}

.card {
  background-color: var(--grey800);
  border-radius: 1rem;
  width: 375px;
  margin: 1rem;
  padding: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.card img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 2rem;
}
.card h2 {
  font-weight: 700;
}
.card h3 {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0.5rem 0 2.5rem;
  color: var(--green);
}

.btn {
  color: var(--white);
  margin-top: 1rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--grey700);
}
.btn:hover {
  background-color: var(--green);
  color: var(--grey900);
}
